body {

    font-family: sans-serif;

}

.date-container {

    position: relative;
    border: 5px groove black;
    border-radius: 25px;

    padding-left: 20px;
    margin-bottom: 10px;

    background-color: lightgrey

}

.toggleImage {

    position: absolute;
    right: 30px;
    top: 27px;

    width: 20px;
    height: 20px;
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre a imagem */

}

.hidden {

    opacity: 0;
    display: none; /* Oculta completamente a div */

}

.flip-vertical {
    transform: rotate(180deg);
    display: inline-block; /* Isso é importante para que a transformação funcione corretamente em imagens */
}

.shift-item {

    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 1);
    width: 98%;

}

.list-index {

    position: absolute;
    top: 5px;
    right: 15px;

    color: solid rgba(0, 0, 0, 0.5);

}

.breakList {

    
    border: 1px solid black;
    border-radius: 25px;

    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.onlyBreak {

    padding: 20px;

}

.break {
    
    border-top: 1px solid black;
    padding: 20px;
    
    
}

.lastBreak {


    border-top: 1px solid black;
    padding-top: 20px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 10px;

}

.firstBreak {

    padding-top: 10px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 20px;

}

.breakInfo {

    padding-bottom: 10px;

}

.redText {

    color: red;

}